<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
  body {
  background: #F1F3FA;
  }

  .profile {
  margin: 20px 0;
  }

  .profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
  }

  .profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
  }

  .profile-usertitle {
  text-align: center;
  margin-top: 20px;
  }

  .profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
  }

  .profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
  }

  .profile-userbuttons {
  text-align: center;
  margin-top: 10px;
  }

  .profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
  }

  .profile-userbuttons .btn:last-child {
  margin-right: 0px;
  }

  .profile-usermenu {
  margin-top: 30px;
  }

  .profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
  }

  .profile-usermenu ul li:last-child {
  border-bottom: none;
  }

  .profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
  }

  .profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
  }

  .profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
  }

  .profile-usermenu ul li.active {
  border-bottom: none;
  }

  .profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
  }

  .profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
  }
</style>
</head>

<body>
  <div class="container">
      <div class="row profile">
  		<div class="col-md-3">
  			<div class="profile-sidebar">
  				<div class="profile-userpic">
  					<img src="https://robohash.org/user1" class="img-responsive" alt="">
  				</div>
  				<div class="profile-usertitle">
  					<div class="profile-usertitle-name">
  						Hello {{ username }}!
  					</div>
  					<div class="profile-usertitle-job">
  						{% if username == "admin" %}
							Admin
						{% else %}
							Developer
						{% endif %}
  					</div>
  				</div>
  				<div class="profile-userbuttons">
  					<button type="button" class="btn btn-success btn-sm disabled">Follow</button>
  					<button type="button" class="btn btn-danger btn-sm disabled">Message</button>
  				</div>
  				<div class="profile-usermenu">
  					<ul class="nav">
  						<li>
  							<a href="/logout">
  							<i class="glyphicon glyphicon-flag"></i>
  							Logout </a>
  						</li>
  					</ul>
  				</div>
  			</div>
  		</div>
  		<div class="col-md-9">
              <div class="profile-content">
  			   Some user related content goes here...
              </div>
  		</div>
  	</div>
  </div>
  <center>
  </center>
  <br>
  <br>
</body>
</html>
